@model IEnumerable<WebApplication3.Models.Subsidiary>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubPercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DirectRel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangeDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoShares_YN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName.ExchangeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubsidiariesType.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubPercent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DirectRel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChangeDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoShares_YN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName.ExchangeCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubsidiariesType.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubsiID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SubsiID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubsiID })
        </td>
    </tr>
}

</table>
